<% title "Game" %>
<div class="container">
	<div class="row">
		<div class="span12">
            <div align="center">
                <h1>LondonTrumps</h1>
                <div class="game-window"></div>
            </div>
        </div>
    </div>
</div>

<% content_for :footer do %>
    <div data-role="footer">
        <div data-role="navbar">
            <ul>
                <li><a href="a.html" data-icon="grid">Cards</a></li>
                <li><a href="b.html" data-icon="star">Acheviements</a></li>
                <li><a href="c.html" data-icon="info">Learn More</a></li>
            </ul>
        </div>
    </div> 
<% end %> 

<script type="text/javascript">
    var pusher = new Pusher('d2b29a599cc5f3823b3b');
    var channel = pusher.subscribe('<%= "presence-" + @game.id.to_s + '-' + session[:player_id].to_s %>');

    channel.bind('pusher:subscription_succeeded', function() {
        if (<%= @game.players.size > 1 %>) {
            console('Game on!');
            set_players();
            $.ajax({
              url: '/games/build_and_send_turns_for_player?id=<%= session[:player_id].to_s %>'
            });
        } else {
            console('Waiting for player 2...');
        }
    });
    
    channel.bind('turn', function(data) {
        updatePage(data);        
    });
    
    function updatePage(data) {
        var player_numcards = data.player_numcards;
        var opponent_numcards = data.opponent_numcards;
        var player_turn = data.player_turn;
        var card_name = data.card_name;
        var card_subtitle = data.card_subtitle;
        var card_image_prefix = data.card_image_prefix;
        var card_stat_names = data.card_stat_names;
        var card_stats = data.card_stats;
        var player_name = data.player_name;
        var opponent_name = data.opponent_name;
        
        $.ajax({
              url: '/games/render_game',
              success: function(response) {
                $('.game-window').html(response);
                $('#player1-name').text(player_name + ' - ' +player_numcards + ' cards');
                $('#player2-name').text(opponent_name + ' - ' +opponent_numcards + ' cards');
                $('#player1-card-title').text(card_name);
                $('#player1-card-image').attr('src', '/assets/'+card_image_prefix+'_image.jpg');
                $('#player1-label-1').text(card_stat_names[0]);
                $('#player1-label-2').text(card_stat_names[1]);
                $('#player1-label-3').text(card_stat_names[2]);
                $('#player1-label-4').text(card_stat_names[3]);
                $('#player1-label-5').text(card_stat_names[4]);
                $('#player1-label-6').text(card_stat_names[5]);
                $('#player1-stat-1').text(card_stats[0]);
                $('#player1-stat-2').text(card_stats[1]);
                $('#player1-stat-3').text(card_stats[2]);
                $('#player1-stat-4').text(card_stats[3]);
                $('#player1-stat-5').text(card_stats[4]);
                $('#player1-stat-6').text(card_stats[5]);
              }
        });    
    }

    function pick(number) {
        $.ajax({
            url: '/games/pick?id=' + number + '&game=' + <%= @game.id %> + '&player=' + <%= session[:player_id].to_s %>
        });
    }

    // Helper Functions    
    function set_players() {
        $('#player_count').text("Players: " + channel.members.count);   
    }

    function console(string) {
        $('#console').text(string);
    }
    
</script> 
