<!DOCTYPE html>
<html>
<head>
  <title>Londontrumps</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "http://js.pusher.com/2.0/pusher.min.js" %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
    <div data-role="header">
        <a href="#" data-icon="delete">Cancel</a>
        <h1 style="line-height: normal !important;">Edit Contact</h1>
        <a href="#" data-icon="check" data-theme="b">Save</a>
    </div>
</header>
    
    <div id="main" role="main">
        <div class="container">
            <div class="content">
                <div class="row">
                    <div class="span12">
                        <%= render 'layouts/messages' %>
                        <%= yield %>
                    </div>
                </div>
                <footer>
	                <div data-role="footer" data-id="foo1" data-position="fixed">
						<div data-role="navbar">
							<ul>
								<li><a href="a.html" data-icon="grid">Info</a></li>
								<li><a href="b.html" data-icon="star">Friends</a></li>
								<li><a href="c.html" data-icon="gear">Albums</a></li>
								<li><a href="d.html" data-icon="edit">Emails</a></li>
							</ul>
						</div>
					</div>	
                </footer>
            </div>
        </div>
    </div>
</body>
</html>

